.top-header {
    background-color:"rgb(51,51,51)";
    top:0px;
    width:976px;
    height:59px;
    left:0px; 
    position:relative;
    padding:0px;
}
.username {
    background-color:"rgb(255,255,255)";
    top:0px;
    width:976px;
    height:26px;
    left:0px; 
    position:relative;
    padding:0px;
}

#artical {
    background-color:"rgb(243,243,243)";
    top:228px;
    width:896px;
    height:370px;
    left:0px; 
    position:absolute;
    padding:0px;
    margin-left:52px;
    margin-right:52px;
}

#slider {
    background-color:"rgb(255,255,255)";
    top:606px;
    width:640px;
    height:244px;
    left:0px; 
    position:absolute;
    padding:0px;
    margin-left:52px; 
    margin-right:0px;
}
#online {
    background-color:"rgb(255,255,255)";
    top:606px;
    width:244px;
    height:244px;
    left:704px; 
    position:absolute;
    padding:0px;
    margin-left:0px; 
    margin-right:53px;
}

#work-progress {
    background-color:"rgb(255,255,255)";
    top:858px;
    width:314px;
    height:246px;
    left:0px; 
    position:absolute;
    padding:0px;
    margin-left:53px; 
    
}
#announcement {
    background-color:"rgb(255,255,255)";
    top:858px;
    width:314px;
    height:246px;
    left:378px; 
    position:absolute;
    padding:0px;
    
}
#notes-entry {
    background-color:"rgb(255,255,255)";
    top:858px;
    width:244px;
    height:244px;
    left:704px; 
    position:absolute;
    padding:0px;
    margin-left:0px; 
    margin-right:53px;
}

#ex-links {
    background-color:"rgb(255,255,255)";
    top:1116px;
    width:640px;
    height:244px;
    left:0px; 
    position:absolute;
    padding:0px;
    margin-left:53px; 
    margin-right:0px;
}
#feedback {
    background-color:"rgb(255,255,255)";
    top:1116px;
    width:244px;
    height:244px;
    left:704px; 
    position:absolute;
    padding:0px;
    margin-left:0px; 
    margin-right:53px;
}
#descreption {
    background-color:"rgb(243,243,243)";
    top:1368px;
    width:896px;
    height:68px;
    left:0px; 
    position:absolute;
    padding:0px;
    margin-left:53px; 
    margin-right:53px;
}


